<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite One</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6b1bf">  <td>17/05/10 17:09:27</td>   <td>0</td> <td title="&gt;&gt;PCTSkill.Browser(java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">&gt;&gt;Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a6b1bf">  <td>17/05/10 17:09:27</td>   <td>5</td> <td title="&gt;&gt;PCTSkill.addAcounitng(java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">&gt;&gt;addAcounitng</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a6b1bf">  <td>17/05/10 17:09:27</td>   <td>6</td> <td title="&gt;&gt;PCTSkill.addVersion(java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">&gt;&gt;addVersion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a6b1bf">  <td>17/05/10 17:09:27</td>   <td>6</td> <td title="&gt;&gt;PCTSkill.createRepository()[pri:0, instance:Skills.WInsertSymbol@b635d7]">&gt;&gt;createRepository</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a6b1bf">  <td>17/05/10 17:09:27</td>   <td>114</td> <td title="&gt;&gt;PCTSkill.launchPCTandLogIn()[pri:0, instance:Skills.WInsertSymbol@b635d7]">&gt;&gt;launchPCTandLogIn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a6b1bf">  <td>17/05/10 17:09:33</td>   <td>6412</td> <td title="&gt;&gt;PCTSkill.saveProjectIDforSkill(java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">&gt;&gt;saveProjectIDforSkill</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7cb37f">  <td>17/05/10 17:09:33</td>   <td>6425</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WAddModifyParagraphText.Setup()[pri:0, instance:Skills.WAddModifyParagraphText@1160e64]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7cb37f">  <td>17/05/10 17:09:36</td>   <td>8590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WAddModifyParagraphText.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WAddModifyParagraphText@1160e64]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7cb37f">  <td>17/05/10 17:10:47</td>   <td>80408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WAddModifyParagraphText.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WAddModifyParagraphText@1160e64]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7cb37f">  <td>17/05/10 17:10:48</td>   <td>80602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WAddModifyParagraphText.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WAddModifyParagraphText@1160e64]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7cb37f">  <td>17/05/10 17:10:48</td>   <td>80728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WAddModifyParagraphText.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WAddModifyParagraphText@1160e64]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7cb37f">  <td>17/05/10 17:10:48</td>   <td>80851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WAddModifyParagraphText.projectScoreAndFeedback()[pri:0, instance:Skills.WAddModifyParagraphText@1160e64]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7cb37f">  <td>17/05/10 17:11:04</td>   <td>97515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WAddModifyParagraphText.saveProject()[pri:0, instance:Skills.WAddModifyParagraphText@1160e64]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:11:04</td>   <td>97518</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WFontFormatting.Setup()[pri:0, instance:Skills.WFontFormatting@dc91e2]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:11:05</td>   <td>98234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:11:24</td>   <td>116624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:11:45</td>   <td>137688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:12:06</td>   <td>158745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:12:27</td>   <td>180051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:12:49</td>   <td>201668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:13:10</td>   <td>223004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:13:31</td>   <td>244549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:13:53</td>   <td>265786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:14:14</td>   <td>286589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:14:34</td>   <td>307345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:14:55</td>   <td>327838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:15:15</td>   <td>348473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:15:36</td>   <td>369217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:15:58</td>   <td>390824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:16:17</td>   <td>409722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.TestSkillWithSearchBox()[pri:0, instance:Skills.WFontFormatting@dc91e2]">TestSkillWithSearchBox</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:16:37</td>   <td>430130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.projectScoreAndFeedback()[pri:0, instance:Skills.WFontFormatting@dc91e2]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="82606f">  <td>17/05/10 17:17:24</td>   <td>477365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WFontFormatting.saveProject()[pri:0, instance:Skills.WFontFormatting@dc91e2]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="708aff">  <td>17/05/10 17:17:24</td>   <td>477367</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WHeaderAndFooter.Setup()[pri:0, instance:Skills.WHeaderAndFooter@175beef]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="708aff">  <td>17/05/10 17:17:25</td>   <td>478137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WHeaderAndFooter.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WHeaderAndFooter@175beef]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="708aff">  <td>17/05/10 17:18:33</td>   <td>545666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WHeaderAndFooter.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WHeaderAndFooter@175beef]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="708aff">  <td>17/05/10 17:19:39</td>   <td>611601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WHeaderAndFooter.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WHeaderAndFooter@175beef]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="708aff">  <td>17/05/10 17:20:45</td>   <td>677696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WHeaderAndFooter.projectScoreAndFeedback()[pri:0, instance:Skills.WHeaderAndFooter@175beef]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="708aff">  <td>17/05/10 17:21:29</td>   <td>722023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WHeaderAndFooter.saveProject()[pri:0, instance:Skills.WHeaderAndFooter@175beef]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="b58e73">  <td>17/05/10 17:21:29</td>   <td>722024</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WInsertCitation.Setup()[pri:0, instance:Skills.WInsertCitation@1fe40d5]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="b58e73">  <td>17/05/10 17:21:30</td>   <td>722679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertCitation.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertCitation@1fe40d5]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="b58e73">  <td>17/05/10 17:21:47</td>   <td>739615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertCitation.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertCitation@1fe40d5]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="b58e73">  <td>17/05/10 17:22:02</td>   <td>754882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertCitation.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertCitation@1fe40d5]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="b58e73">  <td>17/05/10 17:22:17</td>   <td>770208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertCitation.projectScoreAndFeedback()[pri:0, instance:Skills.WInsertCitation@1fe40d5]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="b58e73">  <td>17/05/10 17:23:02</td>   <td>814669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertCitation.saveProject()[pri:0, instance:Skills.WInsertCitation@1fe40d5]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="9b9d7b">  <td>17/05/10 17:23:02</td>   <td>814671</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WInsertObject.Setup()[pri:0, instance:Skills.WInsertObject@1c21ed3]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="9b9d7b">  <td>17/05/10 17:23:02</td>   <td>815358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertObject.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertObject@1c21ed3]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="9b9d7b">  <td>17/05/10 17:23:19</td>   <td>831577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertObject.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertObject@1c21ed3]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="9b9d7b">  <td>17/05/10 17:23:33</td>   <td>845635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertObject.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertObject@1c21ed3]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="9b9d7b">  <td>17/05/10 17:23:38</td>   <td>851449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertObject.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertObject@1c21ed3]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="9b9d7b">  <td>17/05/10 17:24:53</td>   <td>926141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertObject.projectScoreAndFeedback()[pri:0, instance:Skills.WInsertObject@1c21ed3]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="9b9d7b">  <td>17/05/10 17:25:38</td>   <td>970743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertObject.saveProject()[pri:0, instance:Skills.WInsertObject@1c21ed3]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:25:38</td>   <td>970745</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WInsertSmartArt.Setup()[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:25:38</td>   <td>971411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:25:55</td>   <td>988078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:26:10</td>   <td>1003206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:26:26</td>   <td>1018593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:26:41</td>   <td>1033788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:26:56</td>   <td>1048894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:27:11</td>   <td>1064078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:27:26</td>   <td>1079439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:27:42</td>   <td>1094595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.projectScoreAndFeedback()[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c8c3b8">  <td>17/05/10 17:28:26</td>   <td>1139484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSmartArt.saveProject()[pri:0, instance:Skills.WInsertSmartArt@1eaf25d]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:28:26</td>   <td>1139485</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WInsertSymbol.Setup()[pri:0, instance:Skills.WInsertSymbol@b635d7]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:28:27</td>   <td>1140120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:28:46</td>   <td>1158819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:29:03</td>   <td>1175710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:29:20</td>   <td>1192605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:29:36</td>   <td>1209336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:29:53</td>   <td>1225735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:30:09</td>   <td>1242000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:30:26</td>   <td>1258631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertSymbol@b635d7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:30:42</td>   <td>1275365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.projectScoreAndFeedback()[pri:0, instance:Skills.WInsertSymbol@b635d7]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a98e77">  <td>17/05/10 17:31:27</td>   <td>1320336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertSymbol.saveProject()[pri:0, instance:Skills.WInsertSymbol@b635d7]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c89d89">  <td>17/05/10 17:31:27</td>   <td>1320338</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WInsertTable.Setup()[pri:0, instance:Skills.WInsertTable@1cdecf7]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c89d89">  <td>17/05/10 17:31:28</td>   <td>1320920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertTable.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertTable@1cdecf7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c89d89">  <td>17/05/10 17:31:39</td>   <td>1331674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertTable.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertTable@1cdecf7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c89d89">  <td>17/05/10 17:31:48</td>   <td>1340722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertTable.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertTable@1cdecf7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c89d89">  <td>17/05/10 17:31:57</td>   <td>1349816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertTable.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertTable@1cdecf7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c89d89">  <td>17/05/10 17:32:06</td>   <td>1359165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertTable.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertTable@1cdecf7]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c89d89">  <td>17/05/10 17:32:16</td>   <td>1368784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertTable.projectScoreAndFeedback()[pri:0, instance:Skills.WInsertTable@1cdecf7]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="c89d89">  <td>17/05/10 17:33:01</td>   <td>1413570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertTable.saveProject()[pri:0, instance:Skills.WInsertTable@1cdecf7]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a065e1">  <td>17/05/10 17:33:01</td>   <td>1413570</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WInsertVideo.Setup()[pri:0, instance:Skills.WInsertVideo@152912f]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a065e1">  <td>17/05/10 17:33:01</td>   <td>1414219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertVideo.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertVideo@152912f]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a065e1">  <td>17/05/10 17:33:18</td>   <td>1431150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertVideo.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WInsertVideo@152912f]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a065e1">  <td>17/05/10 17:33:33</td>   <td>1446443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertVideo.saveProject()[pri:0, instance:Skills.WInsertVideo@152912f]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a065e1">  <td>17/05/10 17:33:33</td>   <td>1446444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WInsertVideo.testScoreAndFeedback()[pri:0, instance:Skills.WInsertVideo@152912f]">testScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a1f871">  <td>17/05/10 17:34:18</td>   <td>1491007</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WLinkHeadersandFooters.Setup()[pri:0, instance:Skills.WLinkHeadersandFooters@14a3da8]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a1f871">  <td>17/05/10 17:34:19</td>   <td>1491714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WLinkHeadersandFooters.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WLinkHeadersandFooters@14a3da8]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a1f871">  <td>17/05/10 17:35:26</td>   <td>1559233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WLinkHeadersandFooters.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WLinkHeadersandFooters@14a3da8]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a1f871">  <td>17/05/10 17:36:32</td>   <td>1625269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WLinkHeadersandFooters.projectScoreAndFeedback()[pri:0, instance:Skills.WLinkHeadersandFooters@14a3da8]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a1f871">  <td>17/05/10 17:37:17</td>   <td>1669785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WLinkHeadersandFooters.saveProject()[pri:0, instance:Skills.WLinkHeadersandFooters@14a3da8]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7df476">  <td>17/05/10 17:37:17</td>   <td>1669786</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WMailMerge.Setup()[pri:0, instance:Skills.WMailMerge@df804e]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7df476">  <td>17/05/10 17:37:17</td>   <td>1670496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WMailMerge.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WMailMerge@df804e]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7df476">  <td>17/05/10 17:37:29</td>   <td>1681922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WMailMerge.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WMailMerge@df804e]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7df476">  <td>17/05/10 17:37:39</td>   <td>1691730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WMailMerge.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WMailMerge@df804e]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7df476">  <td>17/05/10 17:37:49</td>   <td>1702164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WMailMerge.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WMailMerge@df804e]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7df476">  <td>17/05/10 17:37:59</td>   <td>1712216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WMailMerge.saveProject()[pri:0, instance:Skills.WMailMerge@df804e]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="7df476">  <td>17/05/10 17:37:59</td>   <td>1712217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WMailMerge.testScore2AndFeedback()[pri:0, instance:Skills.WMailMerge@df804e]">testScore2AndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:38:45</td>   <td>1757590</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WManageSources.Setup()[pri:0, instance:Skills.WManageSources@808680]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:38:45</td>   <td>1758190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WManageSources.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WManageSources@808680]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:39:04</td>   <td>1776782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WManageSources.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WManageSources@808680]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:39:21</td>   <td>1793628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WManageSources.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WManageSources@808680]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:39:38</td>   <td>1810759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WManageSources.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WManageSources@808680]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:39:54</td>   <td>1827356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WManageSources.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WManageSources@808680]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:40:11</td>   <td>1843724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WManageSources.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WManageSources@808680]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:40:26</td>   <td>1859210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WManageSources.TestSkill(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Skills.WManageSources@808680]">TestSkill</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:40:42</td>   <td>1875123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WManageSources.projectScoreAndFeedback()[pri:0, instance:Skills.WManageSources@808680]">projectScoreAndFeedback</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="83d66d">  <td>17/05/10 17:41:27</td>   <td>1920404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WManageSources.saveProject()[pri:0, instance:Skills.WManageSources@808680]">saveProject</td> 
  <td>main@8709923</td>   <td></td> </tr>
<tr bgcolor="a6b1bf">  <td>17/05/10 17:41:27</td>   <td>1920481</td> <td title="&lt;&lt;PCTSkill.terminate()[pri:0, instance:Skills.WInsertSymbol@b635d7]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8709923</td>   <td></td> </tr>
</table>
