<h2>Methods that were not run</h2><table>
<tr><td>Skills.WInsertVideo.testUpgrade</td></tr>
<tr><td>Skills.WAddModifyParagraphText.testUpgrade</td></tr>
<tr><td>Skills.WManageSources.testUpgrade</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.PCTSkill.Browser</td></tr>
<tr><td>Skills.WHeaderAndFooter.testUpgrade</td></tr>
<tr><td>Skills.WInsertSmartArt.testUpgrade</td></tr>
<tr><td>Skills.WInsertTable.testUpgrade</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.PCTSkill.terminate</td></tr>
<tr><td>Skills.WMailMerge.testUpgrade</td></tr>
<tr><td>Skills.WInsertSymbol.testUpgrade</td></tr>
<tr><td>Skills.WLinkHeadersandFooters.testUpgrade</td></tr>
<tr><td>Skills.WFontFormatting.testUpgrade</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.launchPCTandLogIn</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.PCTSkill.createRepository</td></tr>
<tr><td>Skills.WInsertCitation.testUpgrade</td></tr>
<tr><td>Skills.WInsertObject.testUpgrade</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addVersion</td></tr>
<tr><td>Skills.PCTSkill.saveProjectIDforSkill</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
<tr><td>Skills.PCTSkill.addAcounitng</td></tr>
</table>