<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Skills.EChartAxisOptions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases_v15</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EProtectSheet</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>Mar15 testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EHeaderFooter</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPageSetupSheet</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewMapFields</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EDataLabelsFillAndLineOptions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ETrackChanges</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EFormulasAndFunctions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ECreateSparkline</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPivotTableProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPlotAreaFillAndLineOptions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ECreateRelationship</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewChartProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EAddShapesToSmartArt</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EWorksheetProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EImportDataFromFile</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertRows</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ESortData</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EGoalSeek</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ESmartArtSizeAndArrangement</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ENamedRange</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EColumnProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ERowProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ECellAlignmentIndentation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EMergeCells</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EApplyFilters</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertPicture</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EConditionalFormatting</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPivotChartFields</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerPivotTables</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewTableFields</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EBorderFormatting</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EAddModifyChartData</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ENumberFormatting</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EFontFormatting</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScore2AndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EChartElementsTextOptions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EChartDataPointOptions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases_v15</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EDocumentInspector</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ESmartArtDesign</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ESparklineAttributes</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EModifyCellContents</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ETableProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EAdvancedFilter</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ECustomCombinationChartProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EScenarioManager</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertChart</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EChartProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EChartElementsFillAndLineOptions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EDataLabelsDataLabelOptions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewTableProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EWorkbookProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EShapeSizeandArrangement</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EChartAreaFillAndLineOptions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewMapProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertSmartArt</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EDataValidation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerPivotTableColumns</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EUnmergeCells</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPivotTableFields</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewSlicer</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertSlicer</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPivotChartFilters</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewChartFields</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EAddModifyTextInSmartArtShape</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EFormatControlControl</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ECheckSpelling</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPictureSizeAndArrangement</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases_v15</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewFilters</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EApplyCellStyles</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertPivotTable</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewTextbox</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertShape</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EProtectWorkbook</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EAddChartElements</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases123</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertWordArt</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EShapeTextAlignment</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EShapeFillandLineOptions</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertComment</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EFormatSlicerSizeAndProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPageSetupMargin</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EFillFormatting</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScore2AndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertControl</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ESolverParameters</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScore2AndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ESortingTableColumns</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPageSetupPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EExcelOptionsAdvanced</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EWorkbookTheme</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCases_v15</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertTable</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ESolverConstraints</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EMergeWorkbooks</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertHyperlink</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EPowerViewProperties</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EFormatControlSize</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EInsertWorksheet</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EShapeContent</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.ECellProtection</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Skills.EDataTable</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
