<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Skills.EModifyCellContents</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testUpgrade</td>
<td>upgrade </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>projectScoreAndFeedback</td>
<td>testSubmission </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveProject</td>
<td>saveProject </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestSkill</td>
<td>Mar15 testCase </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
