<h2>Methods that were not run</h2><table>
<tr><td>Skills.EModifyCellContents.saveProject</td></tr>
<tr><td>Skills.EModifyCellContents.testUpgrade</td></tr>
<tr><td>Skills.EModifyCellContents.projectScoreAndFeedback</td></tr>
</table>